<main class="main">
    <!-- <div class="dms-header">
    
    </div> -->

    <!----------------------- Header section ----------->
    <%- include('../../Partials/App/Home/Header/search.ejs') %>
    
    <%- include('../../Partials/App/Home/Header/nav.ejs') %>

    <!----------------------- Body section -------------------->

    <section class="body-section">
      <%- include('../../Partials/App/Home/Body/Top/interactive-content.ejs') %>

        <div class="body-grid main-container-photo">
          <%- include('../../Partials/App/Home/Body/Top/introduction-content.ejs') %>
        </div>
        <div class="body-grid after-photo-title">
            <h2>About Us</h2>
        </div>
        <!-- <div class="body-grid"></div> -->
        <%- include('../../Partials/App/Home/Body/Middle/about-us.ejs') %>
        
        <div class="body-grid after-about">
            <h2>Why you need DMS</h2>
        </div>

        <div class="body-grid about-mission-one">
            <%- include('../../Partials/App/Home/Body/Middle/system.ejs') %>
        </div>

        <div class="body-grid after-mission">
            <h2 style="margin-left: 10%;">Contact Us</h2>
            <h2 style="margin-left: 50%;">Partenership</h2>
        </div>

        <div class="body-grid contact-us"></div>
        <div class="body-grid partenership">
          <div class="swiper mySwipervertical">
            <div class="swiper-wrapper">
              <div class="swiper-slide" style="padding: 10px; font-size: 13px;">
                <div class="profile-partenership">
                  <div class="main-profile-container"></div>
                </div>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia est possimus ab illo, esse dicta dignissimos harum eligendi sed, quibusdam amet voluptates beatae placeat voluptatum, itaque debitis assumenda aspernatur et. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, repellat iure, quae quisquam hic est maxime pariatur at quod temporibus sit animi corporis ducimus architecto, incidunt distinctio facere tempore perspiciatis.
              </div>
              <div class="swiper-slide" style="padding: 10px; font-size: 13px;">
                  <div class="profile-partenership">
                    <div class="main-profile-container"></div>
                  </div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsam alias asperiores possimus sint. Fuga voluptas, saepe modi, natus qui velit non cupiditate, minus blanditiis voluptatum voluptate iusto est? Fugit? <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error magni, nihil aspernatur labore provident aliquam autem velit consequuntur laboriosam praesentium fugit minus doloribus dolore possimus. Ipsam alias accusantium unde! Consequuntur.</div>
              <div class="swiper-slide" style="padding: 10px; font-size: 13px;">
                  <div class="profile-partenership">
                    <div class="main-profile-container"></div>
                  </div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolorum nam velit dolor obcaecati sit deleniti pariatur nihil possimus assumenda? Possimus dolorem, corrupti autem laboriosam dolore excepturi iusto sed iure. <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error magni, nihil aspernatur labore provident aliquam autem velit consequuntur laboriosam praesentium fugit minus doloribus dolore possimus. Ipsam alias accusantium unde! Consequuntur.</div>
              <div class="swiper-slide" style="padding: 10px; font-size: 13px;">
                  <div class="profile-partenership">
                    <div class="main-profile-container"></div>
                  </div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolorem minus necessitatibus incidunt rerum eligendi aperiam vel optio est. At, doloribus id eum deserunt quis quos quidem. Tempore, earum eos? <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error magni, nihil aspernatur labore provident aliquam autem velit consequuntur laboriosam praesentium fugit minus doloribus dolore possimus. Ipsam alias accusantium unde! Consequuntur.</div>
              <div class="swiper-slide" style="padding: 10px; font-size: 13px;">
                  <div class="profile-partenership">
                    <div class="main-profile-container"></div>
                  </div>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos maiores officiis suscipit incidunt placeat fugit, recusandae dignissimos. Officiis culpa dolorum delectus cum voluptatibus. Corrupti quasi commodi ipsa dignissimos voluptate. Odio. <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error magni, nihil aspernatur labore provident aliquam autem velit consequuntur laboriosam praesentium fugit minus doloribus dolore possimus. Ipsam alias accusantium unde! Consequuntur.</div>
              <div class="swiper-slide" style="padding: 10px; font-size: 13px;">
                  <div class="profile-partenership">
                    <div class="main-profile-container"></div>
                  </div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium repellat, reprehenderit laborum sed quisquam porro dolorum aperiam labore quam ea laboriosam nihil quas minus, optio numquam ipsam molestias aliquam consequuntur. <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error magni, nihil aspernatur labore provident aliquam autem velit consequuntur laboriosam praesentium fugit minus doloribus dolore possimus. Ipsam alias accusantium unde! Consequuntur.</div>
              <div class="swiper-slide" style="padding: 10px; font-size: 13px;">
                  <div class="profile-partenership">
                    <div class="main-profile-container"></div>
                  </div>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem cum quidem ex possimus laborum similique debitis, est, minus, error dolore eius blanditiis ab ipsam atque praesentium illo vel! Nobis, dolorem? <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error magni, nihil aspernatur labore provident aliquam autem velit consequuntur laboriosam praesentium fugit minus doloribus dolore possimus. Ipsam alias accusantium unde! Consequuntur.</div>
              <div class="swiper-slide" style="padding: 10px; font-size: 13px;">
                  <div class="profile-partenership">
                    <div class="main-profile-container"></div>
                  </div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aut nihil autem id a, possimus rerum error soluta ducimus placeat obcaecati. Magnam sapiente officia repudiandae asperiores quos voluptatibus voluptas. Aliquid. <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error magni, nihil aspernatur labore provident aliquam autem velit consequuntur laboriosam praesentium fugit minus doloribus dolore possimus. Ipsam alias accusantium unde! Consequuntur.</div>
              <div class="swiper-slide" style="padding: 10px; font-size: 13px;">
                  <div class="profile-partenership">
                    <div class="main-profile-container"></div>
                  </div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quis dolore cum maiores corrupti aliquam voluptatum iure deleniti, pariatur blanditiis error nulla, cupiditate in odio, doloribus sed minima nobis fugiat. <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error magni, nihil aspernatur labore provident aliquam autem velit consequuntur laboriosam praesentium fugit minus doloribus dolore possimus. Ipsam alias accusantium unde! Consequuntur.</div>
            </div>
          </div>
        </div>

        <div class="body-grid vertical-content">
          <div class="vertical-cont">
            <div class="cont-title">
              <h2>Your school before DMS</h2>
            </div>
            <div class="cont-before">
              <div class="cont-b">
                <div class="header">
                  <div class="title" data-title>
                    <div class="skeleton skeleton-before"></div>
                  </div>
                </div>

                <div data-body>
                  <div class="skeleton skeleton-before"></div>
                  <div class="skeleton skeleton-before"></div>
                  <div class="skeleton skeleton-before"></div>
                  <div class="skeleton skeleton-before"></div>
                </div>
              </div>
              <div class="cont-b"></div>
              <div class="cont-b"></div>
              <div class="cont-b"></div>
              <div class="cont-b"></div>
              <div class="cont-b"></div>
              <div class="cont-b"></div>
              <div class="cont-b"></div>
            </div>
          </div>
          <div class="vertical-cont">
              <div class="cont-title">
                <h2>Your school before DMS</h2>
              </div>
              <div class="cont-before">
                <div class="cont-b"></div>
                <div class="cont-b"></div>
                <div class="cont-b"></div>
                <div class="cont-b"></div>
                <div class="cont-b"></div>
                <div class="cont-b"></div>
                <div class="cont-b"></div>
                <div class="cont-b"></div>
              </div>
          </div>
          <!-- <div class="vertical-cont"></div> -->
        </div>

        <div class="body-grid many-vertical">
          <div class="many-vert"></div>
          <div class="many-vert"></div>
          <div class="many-vert"></div>
          <div class="many-vert"></div>
          <div class="many-vert"></div>
          <div class="many-vert"></div>
          <div class="many-vert"></div>
          <div class="many-vert"></div>
        </div>

        <div class="grid-body testimony">


          <div class="test-grid"></div>
  
          <template id="test-template">
            <div class="test-container">
              <div class="test-header">
                <img class="test-header-img skeleton" src="https://source.unsplash.com/100x100/?nature" />
                <div class="test-title" data-title>
                  <div class="test-message test-message-text"></div>
                  <div class="test-message test-message-text"></div>
                </div>
              </div>
              <div data-body>
                <div class="test-message test-message-text"></div>
                <div class="test-message test-message-text"></div>
                <div class="test-message test-message-text"></div>
                <div class="test-message test-message-text"></div>
              </div>
            </div>
          </template>

        </div>

        <div class="body-grid main-footer">
          <div class="footer-content first-footer">
            <h2>DMS</h2>
            <p>School Discipline Management System is a valuable tool for schools to maintain a safe and orderly learning environment while promoting fairness and consistency in disciplinary actions. It helps schools keep records, track incidents, involve parents, and analyze data to create a more effective and proactive approach to discipline. The exact features and capabilities may vary depending on the specific software or solution chosen by the school.</p>
            <p>DMS ipsum dolor sit amet consectetur adipisicing elit. Recusandae, veniam rerum nemo iusto neque tempore odit minus nisi enim voluptatem amet eum facilis at fuga consequatur est quod odio. Autem, exercitationem quisquam! Adipisci, eum iste! Expedita iusto repellat eos a!</p>
          </div>
          <div class="footer-content second-footer">
            <div class="main-FQA">
              <h2>Frequently Asked Question (FQA)</h2>
              <p class="fqa"> <span style="text-decoration: underline; cursor: pointer; margin-bottom: .5rem;">System requirements </span><span>></span><br><span style="color: #777; font-size: 13px;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore saepe perferendis odit minima dolor sequi suscipit modi. Cupiditate, eius ipsum.
              </span></p>
              <p class="fqa"> <span style="text-decoration: underline; cursor: pointer; margin-bottom: .5rem;">Where can I learn more about how to get started? </span><span>></span><br><span style="color: #777; font-size: 13px;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero culpa similique veniam quidem eum, eius doloribus sequi deleniti necessitatibus amet.
              </span></p>
              <p class="fqa"> <span style="text-decoration: underline; cursor: pointer; margin-bottom: .5rem;">Is this system available for mobile users? </span><span>></span><br><span style="color: #777; font-size: 13px;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quidem magni facere tempore omnis soluta harum delectus ipsum expedita eius!
              </span></p>
              <p class="fqa"> <span style="text-decoration: underline; cursor: pointer; margin-bottom: .5rem;">What about the version of IOS?</span><span>></span><br><span style="color: #777; font-size: 13px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora inventore vero similique adipisci fuga dolore totam fugit velit. Hic corporis magni explicabo?
              </span></p>
              <p class="fqa"> <span style="text-decoration: underline; cursor: pointer; margin-bottom: .5rem;">Will I automatically be charged when my trial ends?</span><span>></span><br><span style="color: #777; font-size: 13px;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem molestias veniam, recusandae, reiciendis molestiae accusantium, possimus sunt nostrum doloremque hic nisi doloribus.
              </span></p>
              <p class="fqa"> <span style="text-decoration: underline; cursor: pointer; margin-bottom: .5rem;">What are the new features in the latest version?</span><span>></span><br><span style="color: #777; font-size: 13px;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem molestias veniam, recusandae, reiciendis molestiae accusantium, possimus sunt nostrum doloremque hic nisi doloribus.
              </span></p>
            </div>
          </div>
          <div class="footer-content third-footer">
            <div class="main-FOLLOW">
              <h2>Follow Us</h2>
              <p><i class="fa-brands fa-facebook"></i> Facebook: <span style="text-decoration: underline;">Ihope Development</span></p>
              <p><i class="fa-brands fa-whatsapp"></i> WhatsApp: <span style="text-decoration: underline;">+250 788203948</span></p>
              <p><i class="fa-brands fa-instagram"></i> Instagram: <span style="text-decoration: underline;">i_hope201</span></p>
              <p><i class="fa-brands fa-twitter"></i> Twitter: <span style="text-decoration: underline;">Ihope</span></p>
              <p><i class="fa-solid fa-phone fa-bounce"></i> Call Us: <span style="text-decoration: underline;">+250 788839281</span></p>
            </div>

            <div class="map-img">
              
            </div>
          </div>
          <div class="footer-content developer-footer">
            <p>&copy;Copyright 2023. All Rights Reserved</p>
          </div>
        </div>
        
        
    </section>
</main>


<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
