<main class="main">
    <!-- <div class="dms-header">
    
    </div> -->

    <!----------------------- Header section ----------->
    <%- include('../../Partials/App/Home/Header/search.ejs') %>
    
    <%- include('../../Partials/App/Home/Header/nav.ejs') %>

    <!----------------------- Body section -------------------->

    <section class="body-section">
      <%- include('../../Partials/App/Home/Body/Top/interactive-content.ejs') %>

        <div class="body-grid main-container-photo">
          <%- include('../../Partials/App/Home/Body/Top/introduction-content.ejs') %>
        </div>
        <div class="body-grid after-photo-title">
            <h2>About Us</h2>
        </div>
        <!-- <div class="body-grid"></div> -->
        <%- include('../../Partials/App/Home/Body/Middle/about-us.ejs') %>
        
        <div class="body-grid after-about">
            <h2>Why you need DMS</h2>
        </div>

        <div class="body-grid about-mission-one">
            <%- include('../../Partials/App/Home/Body/Middle/system.ejs') %>
        </div>

        <div class="body-grid after-mission">
            <h2 style="margin-left: 10%;">Contact Us</h2>
            <h2 style="margin-left: 50%;">Partenership</h2>
        </div>

        <div class="body-grid contact-us"></div>
        <div class="body-grid partenership">
          <div class="swiper mySwipervertical">
            <div class="swiper-wrapper">
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
              <div class="swiper-slide">Slide 4</div>
              <div class="swiper-slide">Slide 5</div>
              <div class="swiper-slide">Slide 6</div>
              <div class="swiper-slide">Slide 7</div>
              <div class="swiper-slide">Slide 8</div>
              <div class="swiper-slide">Slide 9</div>
            </div>
          </div>
        </div>

        <div class="body-grid vertical-content">
          <div class="vertical-cont">
            <h2>Your school before DMS</h2>
          </div>
          <div class="vertical-cont">
            <h2>Your school after DMS</h2>
          </div>
          <!-- <div class="vertical-cont"></div> -->
        </div>

        <div class="body-grid many-vertical">
          <div class="many-vert"></div>
          <div class="many-vert"></div>
          <div class="many-vert"></div>
          <div class="many-vert"></div>
          <div class="many-vert"></div>
          <div class="many-vert"></div>
          <div class="many-vert"></div>
          <div class="many-vert"></div>
        </div>

        <div class="grid-body testimony">


          <div class="test-grid"></div>
  
          <template id="test-template">
            <div class="test-container">
              <div class="test-header">
                <img class="test-header-img skeleton" src="https://source.unsplash.com/100x100/?nature" />
                <div class="test-title" data-title>
                  <div class="test-message test-message-text"></div>
                  <div class="test-message test-message-text"></div>
                </div>
              </div>
              <div data-body>
                <div class="test-message test-message-text"></div>
                <div class="test-message test-message-text"></div>
                <div class="test-message test-message-text"></div>
                <div class="test-message test-message-text"></div>
              </div>
            </div>
          </template>

        </div>

        <div class="body-grid main-footer">
          <div class="footer-content first-footer"></div>
          <div class="footer-content second-footer">
            <div class="main-FQA">
              <h2>Frequently Asked Question (FQA)</h2>
            <p class="fqa">System requirements <span>></span></p>
            <p class="fqa">Where can I learn more about how to get started? <span>></span></p>
            <p class="fqa">Is this system available for mobile users? <span>></span></p>
            <p class="fqa">What about the version of IOS? <span>></span></p>
            <p class="fqa">Will I automatically be charged when my trial ends? <span>></span></p>
            </div>
          </div>
          <div class="footer-content third-footer">
            <div class="main-FOLLOW">
              <h2>Follow Us</h2>
              <p><i class="fa-brands fa-facebook"></i> Facebook: <span style="text-decoration: underline;">Ihope Development</span></p>
              <p><i class="fa-brands fa-whatsapp"></i> WhatsApp: <span style="text-decoration: underline;">+250 788203948</span></p>
              <p><i class="fa-brands fa-instagram"></i> Instagram: <span style="text-decoration: underline;">i_hope201</span></p>
              <p><i class="fa-brands fa-twitter"></i> Twitter: <span style="text-decoration: underline;">Ihope</span></p>
              <p><i class="fa-solid fa-phone fa-bounce"></i> Call Us: <span style="text-decoration: underline;">+250 788839281</span></p>
            </div>
          </div>
          <div class="footer-content developer-footer">
            <p>&copy;Copyright 2023. All Rights Reserved</p>
          </div>
        </div>
        
        
    </section>
</main>


<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
